#myInfo_change_depth1{
    width : 980px;
    margin: 0 auto;
    height: 100%;
}

#myInfo_change_depth1 .form-group label{
    margin-bottom: 10px;
}

#myInfo_change_depth1 button{
    margin-right: 10px;
}