#myInfo_change_depth2{
    width : 980px;
    margin: 0 auto;
    height: 100%;
}

#myInfo_change_depth2 table th{
    width: 130px;
    vertical-align: middle;
}

#myInfo_change_depth2 .addr_con{
    display: flex;
    align-items: center;
}

#myInfo_change_depth2 .addr_con input{
    width: 50%;
}