<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/admin/cinema/layout}"
      th:with="cinemaId=${cinemaId}">

<div class="container-fluid" layout:fragment="content">
    <main role="main" class="col-md-9 col-lg-10 ml-sm-auto px-md-4">
        <h2>상영관 상세 정보</h2>
        <div>
            <div class="form-group">
                <label>아이디번호</label>
                <input class="form-control" name="id" th:value="${vo.id}" readonly>
            </div>

            <div class="form-group">
                <label>이름</label>
                <input class="form-control" th:value="${vo.name}" readonly>
            </div>

            <div class="form-group">
                <label>영화관</label>
                <input class="form-control" th:value="${vo.cinema.name}" readonly>
            </div>
        </div>

        <!-- 수정/삭제 버튼 -->
        <div class="d-flex justify-content-end">
            <a th:href="@{modify(page=${pageVO.page},
                                 size=${pageVO.size},
                                 type=${pageVO.type},
                                 keyword=${pageVO.keyword},
                                 id=${vo.id},
                                 cinemaId=${cinemaId})}" class="btn btn-warning">수정/삭제</a>

            <a th:href="@{list(page=${pageVO.page},
                               size=${pageVO.size},
                               type=${pageVO.type},
                               keyword=${pageVO.keyword},
                               cinemaId=${vo.cinema.id})}" class="btn btn-primary">목록으로</a>
        </div>

        <!-- 좌석 정보 -->
        <div th:replace="seats/list :: seats"/>

    </main>
</div>

<th:block layout:fragment="script">
    <script th:inline="javascript">

    </script>
</th:block>