<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header class="d-flex justify-content-end py-1 mb-4 border-bottom" th:fragment="bodyHeader">
    <div class="col-md-2 text-end">
        <a class="btn btn-outline-primary me-2" th:href="@{/login}" sec:authorize="isAnonymous()">로그인</a>
        <form th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()" class="d-inline">
            <button class="btn btn-outline-primary me-2" type="submit">로그아웃</button>
        </form>
        <a class="btn btn-primary" th:href="@{/members/add}">회원가입</a>
    </div>
</header>