<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom" th:fragment="bodyHeader">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        MOVIE
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <!--            헤더 메뉴-->
        <!--            <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>-->
    </ul>

    <div class="col-md-3 text-end">
        <a class="btn btn-outline-primary me-2" th:href="@{/login}" sec:authorize="isAnonymous()">로그인</a>
        <form th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()" class="d-inline">
            <button class="btn btn-outline-primary me-2" type="submit">로그아웃</button>
        </form>
        <a class="btn btn-primary" th:href="@{/members/new}">회원가입</a>
    </div>
</header>