<!DOCTYPE HTML>
<head th:fragment="header">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrinkto-fit=no">

  <!-- csrf -->
  <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
  <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>

  <!--   Bootstrap CSS -->
  <link rel="stylesheet"
        href="/dist/css/bootstrap.min.css"
        crossorigin="anonymous">
  <link rel="stylesheet" href="/examples/dashboard/dashboard.css" crossorigin="anonymous">

  <!-- JQuery -->
  <script src="https://code.jquery.com/jquery-3.6.1.js"
          integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
          crossorigin="anonymous"></script>

  <!-- Custom styles for this template -->
  <title>Yotte Movie</title>

  <!-- daum postcode cdn -->
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

  <!-- font aswesome -->
  <script src="https://kit.fontawesome.com/5ec64ef296.js" crossorigin="anonymous"></script>

  <!-- Custom CSS-->
  <link th:href="@{/css/gnb.css}" rel="stylesheet" type="text/css">
  <link th:href="@{/css/depth1.css}" rel="stylesheet" type="text/css">
</head>