/* 결제 - 예매정보 시작 */
.article_sum_infor .inner{
    overflow: hidden;
    height: 815px;
    border-right: 1px solid #DDDDDD;
}

.article_sum_infor .inner .movie_infor{
    padding: 30px 30px 18px;
    border-bottom: 1px solid #DDDDDD;
}
.article_sum_infor .inner .movie_infor .thm{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.article_sum_infor .inner .movie_infor .thm img{
    width : 120px;
    height: 175px;
}

.article_sum_infor .inner .seat_infor{
    padding: 30px 30px 18px;
    border-bottom: 1px solid #DDDDDD;
}

.article_sum_infor .inner dl.dlist_infor dt{
    clear: both;
    float: left;
    min-width: 40px;
    margin-bottom: 7px;
    font-size: 11px;
}

.article_sum_infor .inner dl.dlist_infor dd{
    float: left;
    margin-bottom: 7px;
    font-size: 11px;
    width: 200px;
    word-break: keep-all;
}

.article_sum_infor .inner dl.dlist_infor::after{
    content: "";
    display: block;
    clear: both;
}
/* 결제 - 예매정보 종료 */

/* 결제 - 결제수단 시작 */
.article_pay_method{
    width: 478px;
    background: #F8F8F8;
}
.article_pay_method .inner{
    overflow: hidden;
    height: 815px;
    border-right: 1px solid #DDDDDD;
}

.article_pay_method .inner .group_payment{
    padding: 15px 30px;
}

.article_pay_method .inner .group_payment .tit_payment{
    display: block;
    margin: 18px 0 16px;
    font-size: 15px;
}

.article_pay_method .inner .group_payment .bx_cate .list_pay_item li{
    position: relative;
    width: 31.3%;
    float: left;
    margin: 0 1% 10px;
}

.list_pay_item li button{
    width: 100%;
    border-radius: 4px;
    background: white;
}

.article_pay_method .inner .group_payment .bx_cate .list_pay_item li button{
    overflow: visible;
    position: relative;
    height: 68px;
    line-height: 95px;
    background-repeat: no-repeat;
}

.article_pay_method .inner .group_payment .bx_cate .list_pay_item li button.cate1{
    background-image: url("../images/payment/method_ic_card.png");
    background-position: center 17px;

}

.article_pay_method .inner .group_payment .bx_cate .list_pay_item li button.cate2{
    background-image: url("../images/payment/method_ic_deposit.svg");
}

.article_pay_method .inner .group_payment .bx_cate .list_pay_item li button.cate3{
    background-image: url("../images/payment/method_ic_phone.png");
}


/* 결제 - 결제수단 종료 */

/* 결제 - 결제하기 시작 */
.article_payment{
    width: 415px;
    background: #F8F8F8;
}
.article_payment .inner{
    overflow: hidden;
    height: 815px;
    border-right: 1px solid #DDDDDD;
}

.article_payment .inner .payment_sum_wrap{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #414141;
}

.article_payment .inner .payment_sum_wrap dl{
    padding: 10px 30px;
    border-top: 1px solid rgba(255, 255, 255, .2);
}

.article_payment .inner .payment_sum_wrap dl dt{
    clear: both;
    float: left;
    line-height: 25px;
    padding: 4px 0;
    font-size: 13px;
    color: #fff;
}

.article_payment .inner .payment_sum_wrap dl dd{
    float: right;
    clear: right;
    line-height: 25px;
    padding: 4px 0;
    font-size: 11px;
    color: #fff;
}

.article_payment .inner .payment_sum_wrap dl:after{
    content: "";
    display: block;
    clear: both;
}

.article_payment .inner .payment_sum_wrap .btn_confirm{
    display: block;
    border-radius: 0;
    height: 64px;
    line-height: 64px;
    font-size: 17px;
    background-color: red;
    text-align: center;
    color: white;
}
/* 결제 - 결제하기 종료 */