/* 상영시간 - 공통 시작 */
.wrap_reserve{
    overflow: hidden;
    position: relative;
    width: 1280px;
    height: 870px;
    margin: 0 auto;
}

.wrap_reserve:after {
    content: "";
    display: block;
    clear: both;
}

.wrap_reserve .section_step_tit {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 78px;
}

.wrap_reserve .section_step_tit ul {
    height: 100%;
}

.wrap_reserve .section_step_tit ul li.active {
    border-color: #FF243E;
    border-bottom-color: #666;
    background-color: #FF243E;
}

.wrap_reserve .section_step_tit ul li {
    position: relative;
    height: 25%;
    box-sizing: border-box;
    border: 1px solid #666;
    border-top: none;
    background-color: #FFF;
    z-index: 10;
}

.wrap_reserve .section_step_tit ul li.active > a {
    color: #FFF;
}

.wrap_reserve .section_step_tit ul li > a {
    display: block;
    height: 100%;
    color: #666;
}

.wrap_reserve .section_step_tit ul li.active > a::before {
    content: "현재 단계";
    position: absolute;
    width: 1px;
    height: 1px;
    text-indent: -9999em;
    overflow: hidden;
}

.wrap_reserve .section_step_tit ul li.active > a > strong {
    font-size: 15px;
}

.wrap_reserve .section_step_tit ul li > a > strong {
    display: block;
    line-height: 1.5;
    padding-top: 80px;
    font-size: 13px;
    text-align: center;
}

.wrap_reserve .section_step_tit ul li > a > strong span {
    font-family: 'Roboto';
    font-size: 13px;
}

.wrap_reserve .section_step_con.active {
    display: block;
    overflow: inherit;
    position: relative;
    width: 1202px;
    height: 100%;
    margin-left: 78px;
}

.wrap_reserve .section_step_con {
    overflow: hidden;
    position: absolute;
    height: 0;
}
/* 상영시간 - 공통 시작 */

/* 상영시간 - 영화관 시작*/
.wrap_reserve .section_step_con .article.article_cinema {
    width: 351px;
    border-bottom: 1px solid #DDD;
}

.wrap_reserve .section_step_con .article {
    position: relative;
    float: left;
    height: 100%;
    box-sizing: border-box;
    background-color: #FFF;
}

.wrap_reserve .section_step_con .article .group_top {
    overflow: hidden;
    position: relative;
    height: 55px;
    line-height: 55px;
    border-right: 1px solid #222;
    text-align: center;
    background-color: #000;
}

.wrap_reserve .section_step_con .article .group_top .tit {
    font-size: 18px;
    line-height: 55px;
    color: #FFF;
}

.wrap_reserve .section_step_con .article.article_cinema > .inner {
    overflow: hidden;
    height: 815px;
    border-right: 1px solid #DDD;
}

.wrap_reserve .section_step_con .article.article_cinema > .inner .tab_wrap.outer {
    padding-top: 61px
}

.tab_wrap.outer {
    padding-top: 80px;
}

.tab_wrap {
    position: relative;
}

.wrap_reserve .section_step_con .article.article_cinema > .inner .tab_wrap.outer > li.active > .tab_tit {
    height: 61px;
}

.wrap_reserve .section_step_con .article.article_cinema > .inner .tab_wrap.outer > li > .tab_tit {
    height: 61px;
}

.tab_wrap.outer > li.active > .tab_tit {
    border-bottom: 2px solid #111;
    color: #000;
}

.tab_wrap.outer > li > .tab_tit {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #CCC;
    font-size: 15px;
    color: #7F7F7F;
}

.tab_wrap > li > .tab_tit {
    border: none;
}

.tab_wrap > li > .tab_tit {
    position: absolute;
    top: 0;
}

.tab_wrap > li > .tab_tit span {
    vertical-align: top;
    white-space: nowrap;
}

.tab_wrap > li.active > .tab_con {
    overflow: inherit;
    position: relative;
    width: auto;
    height: auto;
}

.tab_wrap > li > .tab_con {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 0;
}

.wrap_reserve .section_step_con .article.article_cinema .cinema_select_wrap > ul .depth2 {
    background-color: #FFF;
}

.cinema_select_wrap > ul > li.depth1.active .depth2 {
    display: block;
}

.cinema_select_wrap > ul .depth2 {
    display: none;
    position: absolute;
    left: 175px;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #F5F5F5;
}

.wrap_reserve .section_step_con .article.article_cinema .cinema_select_wrap {
    background-color: #F5F5F5;
}

.wrap_reserve .section_step_con .article.article_cinema > .inner .cinema_select_wrap > ul,

.wrap_reserve .section_step_con .article.article_cinema > .inner .cinema_select_wrap > ul .depth2{
    overflow: auto;
    overflow-y: scroll;
    height: 753px;
}

.cinema_select_wrap {
    position: relative;
    height: 100%;
    background-color: #FFF;
}

.cinema_select_wrap > ul .depth2 {
    display: none;
    position: absolute;
    left: 175px;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #F5F5F5;
}

.cinema_select_wrap li.active > a:before {
    content: "선택";
    overflow: hidden;
    position: absolute;
    width: 0;
    height: 0;
    text-indent: -9999em;
}

.wrap_reserve .section_step_con .article.article_cinema .cinema_select_wrap > ul > li.depth1.active > a {
    background: #FFF url("../images/icon/check.png") no-repeat 150px 2px;
}

.cinema_select_wrap > ul > li.depth1.active > a {
    background-color: #F5F5F5;
}

.cinema_select_wrap > ul > li.depth1 > a {
    display: block;
    position: relative;
    width: 175px;
    box-sizing: border-box;
    padding: 10px 16px;
    font-size: 13px;
}

.wrap_reserve .section_step_con .article.article_cinema .cinema_select_wrap > ul li {
    padding: 2px;
    border-bottom: none;
}

.cinema_select_wrap > ul .depth2 ul li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
}

.cinema_select_wrap > ul {
    min-height: 90px;
    height: 100%;
}

.cinema_select_wrap .depth2 li {
    position: relative;
}

.cinema_select_wrap > ul li {
    border-bottom: 1px solid #EBEBEB;
}

.cinema_select_wrap > ul .depth2 ul li a {
    display: table-cell;
    overflow: hidden;
    padding: 10px 16px;
    font-size: 13px;
    vertical-align: middle;
    width: 150px;
}

.cinema_select_wrap > ul .depth2 ul li.active a{
    background: #FFF url("../images/icon/check.png") no-repeat 120px 2px;
}

.cinema_select_wrap > ul .depth2 ul li.disabled a{
    color: #ccc;
}

.article_cinema.area__movingbar.litype2 .tab_wrap.outer.actionmovingbar .wrap_nav_underline {
    position: absolute;
    top: 61px;
    left: 50%;
    margin-left: -175.5px;
    width: 351px;
    height: 2px;
    margin-top: -2px;
    border: 0px solid #f00;
}

.area__movingbar.litype2 .tab_wrap.outer.actionmovingbar .wrap_nav_underline {
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -490px;
    width: 980px;
    height: 2px;
    margin-top: -2px;
    border: 0px solid #f00;
}
/* 상영시간 - 영화관 종료*/

/* 상영시간 - 영화선택 시작 */
.wrap_reserve .section_step_con .article.article_movie > .inner {
    overflow: hidden;
    height: 815px;
    border-right: 1px solid #DDD;
}

.wrap_reserve .section_step_con .article.article_movie .list_filter {
    overflow: hidden;
    position: relative;
    height: 60px;
    padding: 0 20px;
    border-bottom: 1px solid #DDD;
}

.movie_select_wrap ul > li {
    box-sizing: border-box;
    border: 2px solid transparent;
}

.movie_select_wrap.list ul > li > a {
    padding: 15px 20px;
}

.movie_select_wrap ul > li.disabled .bx_thm{
    opacity: 0.3;
}

.movie_select_wrap ul > li > a {
    display: block;
    position: relative;
    box-sizing: border-box;
}

.movie_select_wrap ul > li.active > a::before {
    content: "선택";
    position: absolute;
    right: 19px;
    top: 18px;
    width: 18px;
    height: 14px;
    text-indent: -9999em;
    background: url("../images/icon/check.png") 0px 0px no-repeat;
}

.movie_select_wrap.list ul > li .bx_thm {
    display: none;
}

.movie_select_wrap ul > li .group_infor {
    float: left;
}

.movie_select_wrap ul > li.disabled .group_infor{
    opacity: 0.5;
}

.movie_select_wrap ul > li > a:after {
    content: "";
    display: block;
    clear: both;
}

.movie_select_wrap.list ul > li .group_infor .bx_tit .ic_grade {
    position: absolute;
    left: 20px;
    top: 12px;
}

.movie_select_wrap ul > li .group_infor .bx_tit .ic_grade {
    margin-right: 5px;
}

.movie_select_wrap.list ul > li .group_infor .bx_tit .tit {
    display: block;
    overflow: hidden;
    width: 250px;
    padding-left: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.movie_select_wrap ul > li .group_infor .bx_tit .tit {
    font-size: 15px;
    vertical-align: middle;
}

.movie_select_wrap.list ul > li .group_infor .bx_tit:after {
    content: "";
    display: block;
    clear: both;
}

.movie_select_wrap.list ul > li .group_infor dl {
    display: none;
}

.movie_select_wrap.list ul > li .group_infor .bx_tit .ic_grade {
    position: absolute;
    left: 20px;
    top: 12px;
}

.movie_select_wrap ul > li .group_infor .bx_tit .ic_grade {
    margin-right: 5px;
}



.movie_select_wrap.list ul > li .group_infor .bx_tit .tit {
    display: block;
    overflow: hidden;
    width: 250px;
    padding-left: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.movie_select_wrap ul > li .group_infor .bx_tit .tit {
    font-size: 15px;
    vertical-align: middle;
}

.movie_select_wrap.list ul > li .group_infor .bx_tit:after {
    content: "";
    display: block;
    clear: both;
}

/* 상영시간 - 영화선택 종료 */

/* 상영시간 - 날짜선택 시작 */
.wrap_reserve .section_step_con .article.article_time {
    width: 500px;
}

.wrap_reserve .section_step_con:after {
    content: "";
    display: block;
    clear: both;
}

.wrap_reserve .section_step_con .article.article_time > .inner {
    overflow: hidden;
    height: 815px;
}

.date_select_wrap {
    overflow: hidden;
    height: 75px;
    margin: 22px 20px 10px;
}

.date_select_wrap .slide_reserve_date {
    padding: 0 20px;
}

.date_select_wrap .month {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 10px;
}

.date_select_wrap .date {
    display: block;
    position: relative;
    padding-top: 20px;
}

.date_select_wrap .date label {
    display: block;
    cursor: pointer;
}

.date_select_wrap .date label input[type="radio"] {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);
}

.date_select_wrap .date label input[type="radio"]:checked + strong {
    font-weight: bold;
    color: #fff;
    background: #000;
}

.date_select_wrap .date label strong {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    border-radius: 50%;
    font-family: 'Roboto';
    font-size: 15px;
    text-align: center;
}

.date_select_wrap .date label em {
    display: block;
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
}

.date_select_wrap .date.sat {
    color: #233CA3;
}

.date_select_wrap .date.sun {
    color: #F24A6A;
}

.wrap_reserve .section_step_con .article.article_time.area__movingbar.litype6 > .inner .tab_wrap.outer {
    width: 500px;
}

.tab_wrap.outer {
    padding-top: 80px;
}

.tab_wrap {
    position: relative;
}

.tab_wrap.outer.sml > li > .tab_tit {
    font-size: 13px;
}

.tab_wrap.outer > li.active > .tab_tit {
    border-bottom: 2px solid #111;
    color: #000;
}

.tab_wrap.outer > li > .tab_tit {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #CCC;
    font-size: 15px;
    color: #7F7F7F;
}

.tab_wrap > li > .tab_tit {
    border: none;
}

.tab_wrap > li > .tab_tit {
    position: absolute;
    top: 0;
}

.tab_wrap > li > .tab_tit span {
    vertical-align: top;
    white-space: nowrap;
}

.tab_wrap > li.active > .tab_con {
    overflow: inherit;
    position: relative;
    width: auto;
    height: auto;
}
.tab_wrap > li > .tab_con.ty5 {
    margin-top: -30px;
}
.tab_wrap > li > .tab_con {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 0;
}

.group_time_select {
    margin-top: 30px;
}

.time_select_tit {
    font-size: 15px;
}

.time_select_tit .ic_grade {
    margin-right: 5px;
}

.time_select_wrap {
    margin-top: 20px;
}

.time_select_wrap ul.list_hall {
    margin-bottom: 5px;
}

.time_select_wrap ul.list_hall li:first-child {
    margin-left: 0;
    padding-left: 0;
}
.time_select_wrap ul.list_hall li {
    display: block;
    position: relative;
    float: left;
    margin-left: 6px;
    padding-left: 6px;
    font-size: 13px;
}

.time_select_wrap ul.list_hall li:before {
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    height: 9px;
    border-left: 1px solid #DDD;
}

.time_select_wrap ul.list_hall:after {
    content: "";
    display: block;
    clear: both;
}

.time_select_wrap ul.list_time li:nth-child(4n+1) {
    margin-left: 0;
}
.time_select_wrap ul.list_time li {
    float: left;
    width: 23.5%;
    margin: 0 0 11px 2%;
}

.time_select_wrap ul.list_time li > a {
    display: block;
    position: relative;
    height: 33px;
    padding: 8px 14px 5px;
    border-radius: 4px;
    border: 1px solid #ddd;
    cursor: pointer;
    background: #f8f8f8;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(248, 248, 248, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(248, 248, 248, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(248, 248, 248, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#f8f8f8", GradientType=0);

    /*추가*/
    box-sizing: unset;
}

.time_select_wrap ul.list_time li > a dl dt {
    overflow: hidden;
    position: absolute !important;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

.time_select_wrap ul.list_time li > a dl dd.time {
    margin-bottom: 5px;
    font-family: 'Roboto';
    font-size: 11px;
}

.time_select_wrap ul.list_time li > a dl dd.time strong {
    display: block;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.time_select_wrap ul.list_time li > a dl dd.seat {
    font-family: 'Roboto';
    font-size: 11px;
    color: #666;
}

.time_select_wrap ul.list_time li > a dl dd.hall {
    position: absolute;
    right: 15px;
    bottom: 5px;
    font-size: 11px;
}

.time_select_wrap ul.list_time li.morning > a .txt_ntc.ic {
    background: url("../images/icon/time_sun.png") no-repeat 0 0;
}

.time_select_wrap ul.list_time li > a .txt_ntc.ic {
    top: 3px;
    right: 3px;
    width: 12px;
    height: 12px;
}
.time_select_wrap ul.list_time li > a .txt_ntc {
    position: absolute;
    width: 1px;
    height: 1px;
    text-indent: -9999em;
}
/* 상영시간 - 날짜선택 종료 */
