<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        th:with="cinemaId=${session.cinemaId}">

<nav id="side" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse" th:fragment="side">
    <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/cinemas/view(id=${cinemaId})}">
                    <i class="fa-solid fa-arrow-left-long"></i>
                    뒤로가기
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/cinemas/home(cinemaId=${cinemaId})}">
                    <i class="fa-solid fa-house"></i>
                    영화관홈
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/theaters/list(cinemaId=${cinemaId})}">
                    <i class="fa-solid fa-chair"></i>
                    상영관관리
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/screens/list(cinemaId=${cinemaId})}">
                    <i class="fa-solid fa-video"></i>
                    상영관리
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/reservations/list(cinemaId=${cinemaId})}">
                    <i class="fa-solid fa-ticket"></i>
                    예약관리
                </a>
            </li>
        </ul>
    </div>
</nav>