<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="seats">
    <table>
        <tr>
            <th></th>
            <th scope="col" th:each="col : ${cols}" th:text="${col}"></th>
        </tr>

        <tr th:each="seatList : ${seats}">
            <th scope="row" th:text="${rows[seatListStat.index]}"></th>
            <td th:each="seat : ${seatList}">
                <span th:text="${seat.seat_row + seat.seat_col}"></span>
            </td>
        </tr>
    </table>
</div>