<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="seats">
    <h2>좌석 정보</h2>
    <table class="table table-striped">
        <tr>
            <th></th>
            <th scope="col" th:each="col : ${cols}" th:text="${col}"></th>
        </tr>

        <tr th:each="seatList : ${seats}">
            <th scope="row" th:text="${rows[seatListStat.index]}"></th>
            <td th:each="seat : ${seatList}">
                <span th:if="${seat.isActivated == true}" th:text="${seat.seat_row + seat.seat_col}"></span>
            </td>
        </tr>
    </table>

    <div class="d-flex justify-content-end">
        <a th:href="@{/seats/modify(theaterId=${vo.id},
                             cinemaId=${cinemaId})}" class="btn btn-primary">좌석 편집</a>
    </div>
</div>