<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/admin/cinema/layout}"
      th:with="cinemaId=${cinemaId}">

<div class="container-fluid" layout:fragment="content">
    <main role="main" class="col-md-9 col-lg-10 ml-sm-auto px-md-4">
        <h2>좌석 편집 화면</h2>
        <div>
            <form id="f1">
                <div class="d-flex">
                    <table class="table table-striped">
                        <tr>
                            <th></th>
                            <th scope="col" th:each="col : ${cols}">
                                <span th:text="${col}"></span>
                                <input type="checkbox" class="col_head" th:value="${col}"/>
                            </th>
                        </tr>

                        <tr th:each="seatList : ${seats}">
                            <th scope="row">
                                <span th:text="${rows[seatListStat.index]}"></span>
                                <input type="checkbox" class="row_head" th:value="${rows[seatListStat.index]}"/>
                            </th>
                            <td th:each="seat : ${seatList}">
                                <span th:text="${seat.seat_row + seat.seat_col}"></span>
                                <input type="checkbox"
                                       th:data-row="${seat.seat_row}"
                                       th:data-col="${seat.seat_col}"
                                       class="seat"
                                       name="seat"
                                       th:value="${seat.seat_row + seat.seat_col}"/>
                            </td>
                        </tr>
                    </table>
                    <button type="button" class="btn btn-light">-</button>
                    <button type="button" class="btn btn-light">+</button>
                </div>
                <div>
                    <button type="button" class="btn btn-light w-100">-</button>
                    <button type="button" class="btn btn-light w-100">+</button>
                </div>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            </form>
        </div>

        <!-- 수정/삭제 버튼 -->
        <div class="d-flex justify-content-end">
            <a href="#" class="btn btn-warning modifyBtn">완료</a>
            <a th:href="@{/theaters/view(id=${theaterId},
                                         cinemaId=${cinemaId})}" class="btn btn-primary">취소</a>
        </div>
    </main>
</div>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function(){
            const formObj  = $("#f1");
            $(".modifyBtn").click(function(e){
                formObj.attr("action", "modify");
                formObj.attr("method", "post");
                formObj.submit();
            });

            // 열 체크박스 전체 선택
            $(".col_head").click(function(e){
                const num = $(this).val();
                if($(this).is(":checked")){
                    $("input[data-col='"+num+"']").prop("checked", true);
                }else{
                    $("input[data-col='"+num+"']").prop("checked", false);
                }
            });

            $(".row_head").click(function(e){
                const num = $(this).val();
                if($(this).is(":checked")){
                    $("input[data-row='"+num+"']").prop("checked", true);
                }else{
                    $("input[data-row='"+num+"']").prop("checked", false);
                }
            })


        });
    </script>
</th:block>