<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<div class="container-fluid" layout:fragment="content">
    <div class="wrap_reserve">
        <h2 class="hidden">예매하기</h2>

        <div th:replace="ticket/personSeatHeader"/>

        <div id="reserveStep01" class="section_step_con step01 active">
            <h3 class="hidden">상영시간</h3>
            <div class="article article_cinema area__movingbar litype2">
                <div class="group_top">
                    <h4 class="tit">영화관</h4>
                </div>
                <div class="inner">
                    <ul class="tab_wrap outer actionmovingbar">
                        <li class="active">
                            <button type="button" class="tab_tit" style="width: 100%; left: 0%;">
                                <span>전체</span>
                            </button>
                            <div class="tab_con">
                                <h5 class="hidden">전체</h5>
                                <div class="cinema_select_wrap cinemaSelect basicCinema">
                                    <ul>
                                        <th:block th:each="cinemaLocation, status : ${cinemaLocations}">
                                            <li class="depth1" th:classappend="${selectedLocation eq cinemaLocation.location ? ' active' : ''}">
                                                <a href="#none" title="선택됨" th:text="${cinemaLocation.location}"><em th:text="${'('+cinemaLocation.count+')'}"></em></a>
                                                <div class="depth2">
                                                    <ul>
                                                        <th:block th:each="cinema : ${cinemas}">
                                                            <li class="" th:if="${cinema.location eq cinemaLocation.location}" th:classappend="${selectedCinemaId eq cinema.id ? 'active' : ''}">
                                                                <a th:href="@{/ticket/depth1(selectedLocation=${cinemaLocation.location},
                                                                                             selectedCinemaId=${cinema.id})}" th:text="${cinema.name}"></a>
                                                            </li>
                                                        </th:block>
                                                    </ul>
                                                </div>
                                            </li>
                                        </th:block>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="wrap_nav_underline">
                            <span class="nav_underline"></span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="article article_movie">
                <div class="group_top">
                    <h4 class="tit movie_name">영화 선택</h4>
                </div>
                <div class="inner">
                    <div class="list_filter"></div>
                    <div class="movie_select_wrap list movieSelect" style="height: 754px;">
                        <ul style="overflow: auto; overflow-y: scroll; height: 754px;">
                            <th:block th:each="movie : ${movies}">
                                <li th:class="${not movieIdsOnScreen.contains(movie.id) and selectedCinemaId != 0 ? 'disabled' : ''}"
                                th:classappend="${movie.id == selectedMovieId ? 'active' : ''}">
                                    <a th:href="@{/ticket/depth1(selectedLocation=${selectedLocation},
                                                                 selectedCinemaId=${selectedCinemaId},
                                                                 selectedMovieId=${movie.id})}">
                                        <div class="bx_thm"><span class="rank"><span class="hidden">순위</span><strong>1</strong></span><img
                                                alt="포스터"
                                                src="https://caching.lottecinema.co.kr//Media/MovieFile/MovieImg/202211/18944_101_1.jpg"></div>
                                        <div class="group_infor">
                                            <div class="bx_tit">
                                                <span class="ic_grade" th:classappend="'gr_' + ${movie.filmRating}" th:text="${movie.filmRating} + '세 관람가'"></span>
                                                <strong class="tit" th:text="${movie.name}"></strong></div>
                                        </div>
                                    </a>
                                </li>
                            </th:block>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="article article_time area__movingbar litype6">
                <div class="group_top">
                    <h4 class="tit">2022-11-09(오늘)</h4>
                </div>
                <div class="inner">
                    <div class="date_select_wrap dateReserveWrap">
                        <div class="slide_wrap slide_reserve_date">
                            <ul class="owl-carousel owl-loaded owl-drag">
                                <div class="owl-stage-outer">
                                    <div class="owl-stage"
                                         style="transform: translate3d(0px, 0px, 0px); transition: all 0.6s ease 0s; width: 1470px;">
                                        <div class="owl-item active" style="width: 52.5px;">
                                            <li class="item"><strong class="month">11월</strong><span
                                                    class="date"><label><input checked="" data-displayyn="Y"
                                                                               data-isplaydate="Y"
                                                                               data-playdate="2022-11-09"
                                                                               data-playweek="오늘" name="radioDate1"
                                                                               type="radio"><strong>9</strong><em>오늘</em></label></span>
                                            </li>
                                        </div>
                                        <div class="owl-item active" style="width: 52.5px;">
                                            <li class="item"><span class="date"><label><input data-displayyn="Y"
                                                                                              data-isplaydate="Y"
                                                                                              data-playdate="2022-11-10"
                                                                                              data-playweek="목"
                                                                                              name="radioDate1"
                                                                                              type="radio"><strong>10</strong><em>목</em></label></span>
                                            </li>
                                        </div>
                                        <div class="owl-item active" style="width: 52.5px;">
                                            <li class="item"><span class="date"><label><input data-displayyn="Y"
                                                                                              data-isplaydate="Y"
                                                                                              data-playdate="2022-11-11"
                                                                                              data-playweek="금"
                                                                                              name="radioDate1"
                                                                                              type="radio"><strong>11</strong><em>금</em></label></span>
                                            </li>
                                        </div>
                                        <div class="owl-item active" style="width: 52.5px;">
                                            <li class="item"><span class="date sat"><label><input data-displayyn="Y"
                                                                                                  data-isplaydate="Y"
                                                                                                  data-playdate="2022-11-12"
                                                                                                  data-playweek="토"
                                                                                                  name="radioDate1"
                                                                                                  type="radio"><strong>12</strong><em>토</em></label></span>
                                            </li>
                                        </div>
                                        <div class="owl-item active" style="width: 52.5px;">
                                            <li class="item"><span class="date sun"><label><input data-displayyn="Y"
                                                                                                  data-isplaydate="Y"
                                                                                                  data-playdate="2022-11-13"
                                                                                                  data-playweek="일"
                                                                                                  name="radioDate1"
                                                                                                  type="radio"><strong>13</strong><em>일</em></label></span>
                                            </li>
                                        </div>
                                        <div class="owl-item active" style="width: 52.5px;">
                                            <li class="item"><span class="date"><label><input data-displayyn="Y"
                                                                                              data-isplaydate="Y"
                                                                                              data-playdate="2022-11-14"
                                                                                              data-playweek="월"
                                                                                              name="radioDate1"
                                                                                              type="radio"><strong>14</strong><em>월</em></label></span>
                                            </li>
                                        </div>
                                        <div class="owl-item active" style="width: 52.5px;">
                                            <li class="item"><span class="date"><label><input data-displayyn="Y"
                                                                                              data-isplaydate="Y"
                                                                                              data-playdate="2022-11-15"
                                                                                              data-playweek="화"
                                                                                              name="radioDate1"
                                                                                              type="radio"><strong>15</strong><em>화</em></label></span>
                                            </li>
                                        </div>
                                        <div class="owl-item active" style="width: 52.5px;">
                                            <li class="item"><span class="date"><label><input data-displayyn="Y"
                                                                                              data-isplaydate="Y"
                                                                                              data-playdate="2022-11-16"
                                                                                              data-playweek="수"
                                                                                              name="radioDate1"
                                                                                              type="radio"><strong>16</strong><em>수</em></label></span>
                                            </li>
                                        </div>
                                        <div class="owl-item" style="width: 52.5px;">
                                            <li class="item"><span class="date"><label><input data-displayyn="Y"
                                                                                              data-isplaydate="Y"
                                                                                              data-playdate="2022-11-17"
                                                                                              data-playweek="목"
                                                                                              name="radioDate1"
                                                                                              type="radio"><strong>17</strong><em>목</em></label></span>
                                            </li>
                                        </div>
                                        <div class="owl-item" style="width: 52.5px;">
                                            <li class="item"><span class="date"><label><input data-displayyn="Y"
                                                                                              data-isplaydate="Y"
                                                                                              data-playdate="2022-11-18"
                                                                                              data-playweek="금"
                                                                                              name="radioDate1"
                                                                                              type="radio"><strong>18</strong><em>금</em></label></span>
                                            </li>
                                        </div>
                                        <div class="owl-item" style="width: 52.5px;">
                                            <li class="item"><span class="date sat"><label><input data-displayyn="Y"
                                                                                                  data-isplaydate="Y"
                                                                                                  data-playdate="2022-11-19"
                                                                                                  data-playweek="토"
                                                                                                  name="radioDate1"
                                                                                                  type="radio"><strong>19</strong><em>토</em></label></span>
                                            </li>
                                        </div>
                                        <div class="owl-item" style="width: 52.5px;">
                                            <li class="item"><span class="date sun"><label><input data-displayyn="Y"
                                                                                                  data-isplaydate="Y"
                                                                                                  data-playdate="2022-11-20"
                                                                                                  data-playweek="일"
                                                                                                  name="radioDate1"
                                                                                                  type="radio"><strong>20</strong><em>일</em></label></span>
                                            </li>
                                        </div>
                                        <div class="owl-item" style="width: 52.5px;">
                                            <li class="item"><span class="date"><label><input data-displayyn="Y"
                                                                                              data-isplaydate="Y"
                                                                                              data-playdate="2022-11-21"
                                                                                              data-playweek="월"
                                                                                              name="radioDate1"
                                                                                              type="radio"><strong>21</strong><em>월</em></label></span>
                                            </li>
                                        </div>
                                        <div class="owl-item" style="width: 52.5px;">
                                            <li class="item"><span class="date"><label><input data-displayyn="Y"
                                                                                              data-isplaydate="Y"
                                                                                              data-playdate="2022-11-22"
                                                                                              data-playweek="화"
                                                                                              name="radioDate1"
                                                                                              type="radio"><strong>22</strong><em>화</em></label></span>
                                            </li>
                                        </div>
                                        <div class="owl-item" style="width: 52.5px;">
                                            <li class="item"><span class="date"><label><input data-displayyn="Y"
                                                                                              data-isplaydate="Y"
                                                                                              data-playdate="2022-11-23"
                                                                                              data-playweek="수"
                                                                                              name="radioDate1"
                                                                                              type="radio"><strong>23</strong><em>수</em></label></span>
                                            </li>
                                        </div>
                                        <div class="owl-item" style="width: 52.5px;">
                                            <li class="item"><span class="date"><label><input data-displayyn="Y"
                                                                                              data-isplaydate="Y"
                                                                                              data-playdate="2022-11-24"
                                                                                              data-playweek="목"
                                                                                              name="radioDate1"
                                                                                              type="radio"><strong>24</strong><em>목</em></label></span>
                                            </li>
                                        </div>
                                        <div class="owl-item" style="width: 52.5px;">
                                            <li class="item"><span class="date disabled"><label><input data-displayyn="N"
                                                                                                       data-isplaydate="N"
                                                                                                       data-playdate="2022-11-25"
                                                                                                       data-playweek="금"
                                                                                                       name="radioDate1"
                                                                                                       type="radio"><strong>25</strong><em>금</em></label></span>
                                            </li>
                                        </div>
                                        <div class="owl-item" style="width: 52.5px;">
                                            <li class="item"><span class="date sat disabled"><label><input data-displayyn="N"
                                                                                                           data-isplaydate="N"
                                                                                                           data-playdate="2022-11-26"
                                                                                                           data-playweek="토"
                                                                                                           name="radioDate1"
                                                                                                           type="radio"><strong>26</strong><em>토</em></label></span>
                                            </li>
                                        </div>
                                        <div class="owl-item" style="width: 52.5px;">
                                            <li class="item"><span class="date sun disabled"><label><input data-displayyn="N"
                                                                                                           data-isplaydate="N"
                                                                                                           data-playdate="2022-11-27"
                                                                                                           data-playweek="일"
                                                                                                           name="radioDate1"
                                                                                                           type="radio"><strong>27</strong><em>일</em></label></span>
                                            </li>
                                        </div>
                                        <div class="owl-item" style="width: 52.5px;">
                                            <li class="item"><span class="date disabled"><label><input data-displayyn="N"
                                                                                                       data-isplaydate="N"
                                                                                                       data-playdate="2022-11-28"
                                                                                                       data-playweek="월"
                                                                                                       name="radioDate1"
                                                                                                       type="radio"><strong>28</strong><em>월</em></label></span>
                                            </li>
                                        </div>
                                        <div class="owl-item" style="width: 52.5px;">
                                            <li class="item"><span class="date disabled"><label><input data-displayyn="N"
                                                                                                       data-isplaydate="N"
                                                                                                       data-playdate="2022-11-29"
                                                                                                       data-playweek="화"
                                                                                                       name="radioDate1"
                                                                                                       type="radio"><strong>29</strong><em>화</em></label></span>
                                            </li>
                                        </div>
                                        <div class="owl-item" style="width: 52.5px;">
                                            <li class="item"><span class="date disabled"><label><input data-displayyn="N"
                                                                                                       data-isplaydate="N"
                                                                                                       data-playdate="2022-11-30"
                                                                                                       data-playweek="수"
                                                                                                       name="radioDate1"
                                                                                                       type="radio"><strong>30</strong><em>수</em></label></span>
                                            </li>
                                        </div>
                                        <div class="owl-item" style="width: 52.5px;">
                                            <li class="item"><strong class="month">12월</strong><span
                                                    class="date disabled"><label><input data-displayyn="N" data-isplaydate="N"
                                                                                        data-playdate="2022-12-01"
                                                                                        data-playweek="목"
                                                                                        name="radioDate1"
                                                                                        type="radio"><strong>1</strong><em>목</em></label></span>
                                            </li>
                                        </div>
                                        <div class="owl-item" style="width: 52.5px;">
                                            <li class="item"><span class="date disabled"><label><input data-displayyn="N"
                                                                                                       data-isplaydate="N"
                                                                                                       data-playdate="2022-12-02"
                                                                                                       data-playweek="금"
                                                                                                       name="radioDate1"
                                                                                                       type="radio"><strong>2</strong><em>금</em></label></span>
                                            </li>
                                        </div>
                                        <div class="owl-item" style="width: 52.5px;">
                                            <li class="item"><span class="date sat disabled"><label><input data-displayyn="N"
                                                                                                           data-isplaydate="N"
                                                                                                           data-playdate="2022-12-03"
                                                                                                           data-playweek="토"
                                                                                                           name="radioDate1"
                                                                                                           type="radio"><strong>3</strong><em>토</em></label></span>
                                            </li>
                                        </div>
                                        <div class="owl-item" style="width: 52.5px;">
                                            <li class="item"><span class="date sun disabled"><label><input data-displayyn="N"
                                                                                                           data-isplaydate="N"
                                                                                                           data-playdate="2022-12-04"
                                                                                                           data-playweek="일"
                                                                                                           name="radioDate1"
                                                                                                           type="radio"><strong>4</strong><em>일</em></label></span>
                                            </li>
                                        </div>
                                        <div class="owl-item" style="width: 52.5px;">
                                            <li class="item"><span class="date disabled"><label><input data-displayyn="N"
                                                                                                       data-isplaydate="N"
                                                                                                       data-playdate="2022-12-05"
                                                                                                       data-playweek="월"
                                                                                                       name="radioDate1"
                                                                                                       type="radio"><strong>5</strong><em>월</em></label></span>
                                            </li>
                                        </div>
                                        <div class="owl-item" style="width: 52.5px;">
                                            <li class="item"><span class="date disabled"><label><input data-displayyn="N"
                                                                                                       data-isplaydate="N"
                                                                                                       data-playdate="2022-12-06"
                                                                                                       data-playweek="화"
                                                                                                       name="radioDate1"
                                                                                                       type="radio"><strong>6</strong><em>화</em></label></span>
                                            </li>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-nav">
                                    <button class="owl-prev disabled" role="presentation" type="button"><span
                                            aria-label="Previous">‹</span></button>
                                    <button class="owl-next" role="presentation" type="button"><span
                                            aria-label="Next">›</span></button>
                                </div>
                                <div class="owl-dots disabled"></div>
                            </ul>
                        </div>
                    </div>


                    <ul class="tab_wrap outer sm1 actionmovingbar">
                        <li class="active">
                            <button type="button" class="tab_tit" style="width: 100%; left: 0%;"><span>전체</span></button>
                            <div class="tab_con ty5">
                                <h5 class="hidden">전체</h5>
                                <div style="height: 658px; padding: 0 20px;">
                                    <div class="group_time_select">
                                        <div class="time_select_tit"><span class="ic_grade gr_12">12</span><strong>블랙 팬서: 와칸다
                                            포에버</strong></div>
                                        <div class="time_select_wrap timeSelect">
                                            <ul class="list_hall">
                                                <li>4D2D</li>
                                                <li>수퍼 4D</li>
                                            </ul>
                                            <ul class="list_time">
                                                <li class=""><a th:href="@{/ticket/depth2}" role="button">
                                                    <dl>
                                                        <dt>상영시간</dt>
                                                        <dd class="time"><strong>11:40</strong>
                                                            <div class="tooltip">종료 14:31</div>
                                                        </dd>
                                                        <dt>잔여석</dt>
                                                        <dd class="seat"><strong>94</strong> / 100</dd>
                                                        <dt>상영관</dt>
                                                        <dd class="hall">3관</dd>
                                                    </dl>
                                                </a></li>
                                                <li class=""><a th:href="@{/ticket/depth2}" role="button">
                                                    <dl>
                                                        <dt>상영시간</dt>
                                                        <dd class="time"><strong>14:50</strong>
                                                            <div class="tooltip">종료 17:41</div>
                                                        </dd>
                                                        <dt>잔여석</dt>
                                                        <dd class="seat"><strong>96</strong> / 100</dd>
                                                        <dt>상영관</dt>
                                                        <dd class="hall">3관</dd>
                                                    </dl>
                                                </a></li>
                                                <li class=""><a th:href="@{/ticket/depth2}" role="button">
                                                    <dl>
                                                        <dt>상영시간</dt>
                                                        <dd class="time"><strong>18:00</strong>
                                                            <div class="tooltip">종료 20:51</div>
                                                        </dd>
                                                        <dt>잔여석</dt>
                                                        <dd class="seat"><strong>90</strong> / 100</dd>
                                                        <dt>상영관</dt>
                                                        <dd class="hall">3관</dd>
                                                    </dl>
                                                </a></li>
                                                <li class=""><a th:href="@{/ticket/depth2}" role="button">
                                                    <dl>
                                                        <dt>상영시간</dt>
                                                        <dd class="time"><strong>21:10</strong>
                                                            <div class="tooltip">종료 24:01</div>
                                                        </dd>
                                                        <dt>잔여석</dt>
                                                        <dd class="seat"><strong>96</strong> / 100</dd>
                                                        <dt>상영관</dt>
                                                        <dd class="hall">3관</dd>
                                                    </dl>
                                                </a></li>
                                            </ul>
                                        </div>
                                        <div class="time_select_wrap timeSelect">
                                            <ul class="list_hall">
                                                <li>2D</li>
                                            </ul>
                                            <ul class="list_time">
                                                <li class="morning"><a th:href="@{/ticket/depth2}" role="button"><span
                                                        class="txt_ntc ic">조조</span>
                                                    <dl>
                                                        <dt>상영시간</dt>
                                                        <dd class="time"><strong>09:00</strong>
                                                            <div class="tooltip">종료 11:51</div>
                                                        </dd>
                                                        <dt>잔여석</dt>
                                                        <dd class="seat"><strong>295</strong> / 332</dd>
                                                        <dt>상영관</dt>
                                                        <dd class="hall">5관</dd>
                                                    </dl>
                                                </a></li>
                                                <li class="morning"><a th:href="@{/ticket/depth2}" role="button"><span
                                                        class="txt_ntc ic">조조</span>
                                                    <dl>
                                                        <dt>상영시간</dt>
                                                        <dd class="time"><strong>09:40</strong>
                                                            <div class="tooltip">종료 12:31</div>
                                                        </dd>
                                                        <dt>잔여석</dt>
                                                        <dd class="seat"><strong>146</strong> / 164</dd>
                                                        <dt>상영관</dt>
                                                        <dd class="hall">1관</dd>
                                                    </dl>
                                                </a></li>
                                                <li class=""><a th:href="@{/ticket/depth2}" role="button">
                                                    <dl>
                                                        <dt>상영시간</dt>
                                                        <dd class="time"><strong>10:20</strong>
                                                            <div class="tooltip">종료 13:11</div>
                                                        </dd>
                                                        <dt>잔여석</dt>
                                                        <dd class="seat"><strong>158</strong> / 184</dd>
                                                        <dt>상영관</dt>
                                                        <dd class="hall">6관</dd>
                                                    </dl>
                                                </a></li>
                                                <li class=""><a th:href="@{/ticket/depth2}" role="button">
                                                    <dl>
                                                        <dt>상영시간</dt>
                                                        <dd class="time"><strong>12:10</strong>
                                                            <div class="tooltip">종료 15:01</div>
                                                        </dd>
                                                        <dt>잔여석</dt>
                                                        <dd class="seat"><strong>294</strong> / 332</dd>
                                                        <dt>상영관</dt>
                                                        <dd class="hall">5관</dd>
                                                    </dl>
                                                </a></li>
                                                <li class=""><a th:href="@{/ticket/depth2}" role="button">
                                                    <dl>
                                                        <dt>상영시간</dt>
                                                        <dd class="time"><strong>12:50</strong>
                                                            <div class="tooltip">종료 15:41</div>
                                                        </dd>
                                                        <dt>잔여석</dt>
                                                        <dd class="seat"><strong>157</strong> / 164</dd>
                                                        <dt>상영관</dt>
                                                        <dd class="hall">1관</dd>
                                                    </dl>
                                                </a></li>
                                                <li class=""><a th:href="@{/ticket/depth2}" role="button">
                                                    <dl>
                                                        <dt>상영시간</dt>
                                                        <dd class="time"><strong>13:30</strong>
                                                            <div class="tooltip">종료 16:21</div>
                                                        </dd>
                                                        <dt>잔여석</dt>
                                                        <dd class="seat"><strong>155</strong> / 184</dd>
                                                        <dt>상영관</dt>
                                                        <dd class="hall">6관</dd>
                                                    </dl>
                                                </a></li>
                                                <li class=""><a th:href="@{/ticket/depth2}" role="button">
                                                    <dl>
                                                        <dt>상영시간</dt>
                                                        <dd class="time"><strong>14:10</strong>
                                                            <div class="tooltip">종료 17:01</div>
                                                        </dd>
                                                        <dt>잔여석</dt>
                                                        <dd class="seat"><strong>125</strong> / 142</dd>
                                                        <dt>상영관</dt>
                                                        <dd class="hall">2관</dd>
                                                    </dl>
                                                </a></li>
                                                <li class=""><a th:href="@{/ticket/depth2}" role="button">
                                                    <dl>
                                                        <dt>상영시간</dt>
                                                        <dd class="time"><strong>15:20</strong>
                                                            <div class="tooltip">종료 18:11</div>
                                                        </dd>
                                                        <dt>잔여석</dt>
                                                        <dd class="seat"><strong>275</strong> / 332</dd>
                                                        <dt>상영관</dt>
                                                        <dd class="hall">5관</dd>
                                                    </dl>
                                                </a></li>
                                                <li class=""><a th:href="@{/ticket/depth2}" role="button">
                                                    <dl>
                                                        <dt>상영시간</dt>
                                                        <dd class="time"><strong>16:00</strong>
                                                            <div class="tooltip">종료 18:51</div>
                                                        </dd>
                                                        <dt>잔여석</dt>
                                                        <dd class="seat"><strong>150</strong> / 164</dd>
                                                        <dt>상영관</dt>
                                                        <dd class="hall">1관</dd>
                                                    </dl>
                                                </a></li>
                                                <li class=""><a th:href="@{/ticket/depth2}" role="button">
                                                    <dl>
                                                        <dt>상영시간</dt>
                                                        <dd class="time"><strong>16:40</strong>
                                                            <div class="tooltip">종료 19:31</div>
                                                        </dd>
                                                        <dt>잔여석</dt>
                                                        <dd class="seat"><strong>171</strong> / 184</dd>
                                                        <dt>상영관</dt>
                                                        <dd class="hall">6관</dd>
                                                    </dl>
                                                </a></li>
                                                <li class=""><a th:href="@{/ticket/depth2}" role="button">
                                                    <dl>
                                                        <dt>상영시간</dt>
                                                        <dd class="time"><strong>18:30</strong>
                                                            <div class="tooltip">종료 21:21</div>
                                                        </dd>
                                                        <dt>잔여석</dt>
                                                        <dd class="seat"><strong>301</strong> / 332</dd>
                                                        <dt>상영관</dt>
                                                        <dd class="hall">5관</dd>
                                                    </dl>
                                                </a></li>
                                                <li class=""><a th:href="@{/ticket/depth2}" role="button">
                                                    <dl>
                                                        <dt>상영시간</dt>
                                                        <dd class="time"><strong>19:10</strong>
                                                            <div class="tooltip">종료 22:01</div>
                                                        </dd>
                                                        <dt>잔여석</dt>
                                                        <dd class="seat"><strong>149</strong> / 164</dd>
                                                        <dt>상영관</dt>
                                                        <dd class="hall">1관</dd>
                                                    </dl>
                                                </a></li>
                                                <li class=""><a th:href="@{/ticket/depth2}" role="button">
                                                    <dl>
                                                        <dt>상영시간</dt>
                                                        <dd class="time"><strong>19:50</strong>
                                                            <div class="tooltip">종료 22:41</div>
                                                        </dd>
                                                        <dt>잔여석</dt>
                                                        <dd class="seat"><strong>167</strong> / 184</dd>
                                                        <dt>상영관</dt>
                                                        <dd class="hall">6관</dd>
                                                    </dl>
                                                </a></li>
                                                <li class=""><a th:href="@{/ticket/depth2}" role="button">
                                                    <dl>
                                                        <dt>상영시간</dt>
                                                        <dd class="time"><strong>21:40</strong>
                                                            <div class="tooltip">종료 24:31</div>
                                                        </dd>
                                                        <dt>잔여석</dt>
                                                        <dd class="seat"><strong>308</strong> / 332</dd>
                                                        <dt>상영관</dt>
                                                        <dd class="hall">5관</dd>
                                                    </dl>
                                                </a></li>
                                                <li class=""><a th:href="@{/ticket/depth2}" role="button">
                                                    <dl>
                                                        <dt>상영시간</dt>
                                                        <dd class="time"><strong>22:20</strong>
                                                            <div class="tooltip">종료 25:11</div>
                                                        </dd>
                                                        <dt>잔여석</dt>
                                                        <dd class="seat"><strong>155</strong> / 164</dd>
                                                        <dt>상영관</dt>
                                                        <dd class="hall">1관</dd>
                                                    </dl>
                                                </a></li>
                                                <li class=""><a th:href="@{/ticket/depth2}" role="button">
                                                    <dl>
                                                        <dt>상영시간</dt>
                                                        <dd class="time"><strong>23:00</strong>
                                                            <div class="tooltip">종료 25:51</div>
                                                        </dd>
                                                        <dt>잔여석</dt>
                                                        <dd class="seat"><strong>179</strong> / 184</dd>
                                                        <dt>상영관</dt>
                                                        <dd class="hall">6관</dd>
                                                    </dl>
                                                </a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function(){
            $(".depth1 > a").click(function () {
                // 모든 depth1의 active 제거
                $(".depth1").removeClass("active");

                // 모든 depth2의 display:none 설정
                $(".depth2").css("display", "none");

                // 선택한 지역의 depth1에 active 설정
                $(this).parent("li").addClass("active");

                // 선택한 지역의 depth2의 display:block 설정
                $(this).siblings().css("display", "block");
            });

            $(".movieSelect > ul > li > a").click(function(){
                // 클릭한 버튼의 모든 li active 제거
                $(".movieSelect > ul > li").removeClass("active");

                // 클릭한 버튼의 li active 추가
                $(this).parent("li").addClass("active");
            });
        });
    </script>
</th:block>

