<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<div class="container-fluid" layout:fragment="content">
    <div class="wrap_reserve">
        <h2 class="hidden">예매하기</h2>

        <div th:replace="ticket/personSeatHeader"/>

        <div id="reserveStep02" class="section_step_con step02 active">
            <h3 class="hidden">인원/좌석</h3>
            <div class="article article_seat">
                <div class="group_top">
                    <h4 class="tit">인원/좌석 선택</h4>
                    <p class="txt" id="txtPeopleMaxcount">인원은 최대 8명까지 선택 가능합니다.</p>
                </div>
                <div class="inner">
                    <div id="PersonSeatCount">
                        <div class="select_num_people_wrap">
                            <h5 class="hidden">인원선택</h5>
                            <div class="movie_infor" style="box-sizing: unset;">
                                <h6 class="hidden">예매 정보</h6>
                                <span class="thm"><img src="https://caching.lottecinema.co.kr//Media/MovieFile/MovieImg/202211/18944_103_1.jpg"></span>
                                <div class="group_infor">
                                    <div class="bx_tit">
                                        <span class="ic_grade gr_12">관람가</span>
                                        <strong>블랙 팬서: 와칸다 포에버 (2D)</strong>
                                    </div>
                                    <dl>
                                        <dt>일시</dt>
                                        <dd class="sub_info1">22.11.10<em>(목)</em><span
                                                class="time">10:50 ~ 13:41</span></dd>
                                        <dt>영화관</dt>
                                        <dd class="sub_info1">가산디지털 · 6관</dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="count_people">
                                <h6 class="hidden">인원선택</h6>
                                <ul>
                                    <li data-code="10" data-count="0" data-peple="성인" id="person_10">
                                        <strong class="tit">성인</strong>
                                        <span class="bx_num">
                                            <button class="btn_mins" id="Minus|10">감소</button>
                                            <div class="txt_num">0</div>
                                            <button class="btn_plus" id="Plus|10">증가</button>
                                        </span>
                                    </li>
                                    <li id="person_20" data-code="20" data-peple="청소년" data-count="0">
                                        <strong class="tit">청소년</strong>
                                        <span class="bx_num">
                                            <button class="btn_mins" id="Minus|20">감소</button>
                                            <div class="txt_num">0</div>
                                            <button class="btn_plus" id="Plus|20">증가</button>
                                        </span>
                                    </li>
                                    <li id="person_12" data-code="12" data-peple="시니어" data-count="0">
                                        <strong class="tit">시니어</strong>
                                        <span class="bx_num">
                                            <button class="btn_mins" id="Minus|12">감소</button>
                                            <div class="txt_num">0</div>
                                            <button class="btn_plus" id="Plus|12">증가</button>
                                        </span>
                                    </li>
                                    <li id="person_11" data-code="11" data-peple="장애인" data-count="0">
                                        <strong class="tit">장애인</strong>
                                        <span class="bx_num">
                                            <button class="btn_mins" id="Minus|11">감소</button>
                                            <div class="txt_num">0</div>
                                            <button class="btn_plus" id="Plus|11">증가</button>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="select_seat_wrap">
                        <h5 class="hidden">좌석선택</h5>
                        <div class="top_txt_info">
                            <p id="ticketMessageInfo">
                                - 인원을 선택하세요.
                            </p>
                        </div>
                        <div id="personSeatSelect"></div>
                        <div id="container" class="seat_wrap">
                            <div class="seat_screen">
                                <span>SCREEN</span>
                            </div>
                            <div class="showMap_wrap">
                                <div class="showMap">
                                <div class="seat_area" style="width: 525px; height: 275px; margin-top: 30px;">
                                    <th:block th:each="seat_tit : ${seatTitleList}">
                                        <span class="seat_tit" th:text="${seat_tit}"
                                              th:style="|left: -30px; top: ${25 * seat_titStat.index}px;|"></span>
                                        <a th:each="num : ${#numbers.sequence(1, 18)}"
                                           class="sel" th:data-seat="|A${num}|" seat-statuscode="0"
                                           th:style="|left: ${21 * num}px; top:${25 * seat_titStat.index}px;|">
                                            <span th:text="${num}"></span>
                                        </a>
                                    </th:block>
                                </div>
                            </div>
                            </div>
                            <div class="seat_btn_box">
                                <div class="top_info">
                                    <span class="seat_type1">선택좌석</span>
                                    <span class="seat_type2">선택가능</span>
                                    <span class="seat_type3">예매완료</span>
                                    <span class="seat_type4">선택불가</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="PersonSeatSummery">
                        <div class="select_seat_result">
                            <div class="group_lft" style="display: inline-block">
                                <span>총 합계 : <strong>0</strong>원</span>
                            </div>
                            <div class="group_rgt">
                                <a th:href="@{/ticket/depth3}" class="btn_col1" id="link_repay">결제하기</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="script">
    <script th:inline="javascript">
    </script>
</th:block>

