<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div class="section_step_tit" id="PersonSeatHeader" th:fragment="PersonSeatHeader">
    <ul>
        <li class="step01 active"><a href="#reserveStep01"><strong class="tit"><span>01</span><br>상영시간</strong>
        </a></li>
        <li class="step02"><a href="#reserveStep02"><strong class="tit"><span>02</span><br>인원/좌석</strong>
        </a></li>
        <li class="step03"><a style="cursor: default;"><strong class="tit"><span>03</span><br>결제</strong>
        </a></li>
        <li><a style="cursor: default;"><strong class="tit"><span>04</span><br>결제완료</strong></a></li>
    </ul>
</div>